.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: pxToRem(350px);
  gap: pxToRem(60px);
  align-items: center;

  &.image-content {
    grid-template-areas: "image content";
  }

  &.content-image {
    grid-template-areas: "content image";
  }

  &__image {
    grid-area: image;
  }

  &__content {
    grid-area: content;
    width: 100%;
  }
}
