@use "/src/styles/utils";

.banner-container {
  margin-top: pxToRem(90px);
  margin-bottom: pxToRem(90px);
  @include container();
}

.banner {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50vh;
  width: 100%;
  background: none;
  --bg-image: url("");

  &.bg-arabia {
    --bg-image: url("https://res.cloudinary.com/db1tp6eqg/image/upload/v1754022585/bg-3_huh4xc.png");
  }

  &.bg-ocean {
    --bg-image: url("https://res.cloudinary.com/db1tp6eqg/image/upload/v1754027072/bg-5_h59rsw.png");
  }

  &.bg-desert {
    --bg-image: url("https://res.cloudinary.com/db1tp6eqg/image/upload/v1754110120/neom-wTmGtmGQCjQ-unsplash_1_w7idm0.png");
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1);
    transition: transform 0.6s ease;
  }

  &:hover::before {
    transform: scale(1.1);
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.3);
  }

  &__title {
    font-size: clamp(1.5rem, 4vw, 3rem);
    margin-left: pxToRem(60px);
    max-width: pxToRem(320px);
    color: $color-white;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
    margin-right: pxToRem(60px);
    transition: transform 0.3s ease, background 0.3s ease;

    &:hover {
      transform: translateX(5px);
    }
  }

  @include media-ltmd() {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      margin-left: 0;
    }
  }
}
