.carousel {
  background-color: $color-bg;

  &__collection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: pxToRem(24px);
    justify-items: center;
    align-items: center;
    margin-bottom: 25px;
    margin-top: pxToRem(25px);
    @include container();
  }

  &__item {
    margin-top: pxToRem(25px);
    text-align: center;

    img {
      width: clamp(150px, 15vw, 180px);
    }
  }
}
